<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>188764017634-8osq52is0977q1j6dvldutp56iaqc3lj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188764017634-8osq52is0977q1j6dvldutp56iaqc3lj</string>
	<key>API_KEY</key>
	<string>AIzaSyBlj0YdC-oPxKwvbgDjRRakytr97R8tegU</string>
	<key>GCM_SENDER_ID</key>
	<string>188764017634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerce</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-app-60696</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-app-60696.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188764017634:ios:bba8f3818c70b4f04e9fbb</string>
</dict>
</plist>